body,
html {
    font-family: "Golos Text", sans-serif;
	height: 100%;
	color: #313131;
    scroll-behavior: smooth;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 72px;
}


